body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Form1
{
   background-color: transparent;
   background-image: url('images/1.png');
   background-repeat: repeat;
   background-position: left top;
   border: 4px solid #000000;
   border-radius: 0px;
}
#Polygon1
{
   border-width: 0;
   height: 2px;
   width: 2px;
}
#Polygon2
{
   border-width: 0;
   height: 2px;
   width: 3px;
}
#Polygon3
{
   border-width: 0;
   height: 2px;
   width: 2px;
}
#Polygon5
{
   border-width: 0;
   height: 2px;
   width: 2px;
}
#Polygon6
{
   border-width: 0;
   height: 2px;
   width: 2px;
}
#Curve1
{
   border-width: 0;
   height: 2px;
   width: 4px;
}
#wb_Form2
{
   background-color: transparent;
   background-image: url('images/2.png');
   background-repeat: repeat;
   background-position: left top;
   border: 4px solid #000000;
   border-radius: 0px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border-width: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: none;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   /* object-fit: none; */
   border-radius: 50%;
}
#Label1
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Cairo;
   font-weight: bold;
   font-style: normal;
   font-size: 35px;
   text-align: center;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label1:focus
{
   outline: 0;
}
#Label2
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   text-align: center;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label2:focus
{
   outline: 0;
}
#Label3
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label3:focus
{
   outline: 0;
}
#Label4
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label4:focus
{
   outline: 0;
}
#Label5
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label5:focus
{
   outline: 0;
}
#Label6
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label6:focus
{
   outline: 0;
}
#Label7
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label7:focus
{
   outline: 0;
}
#Label8
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label8:focus
{
   outline: 0;
}
#Label9
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label9:focus
{
   outline: 0;
}
#Label11
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label11:focus
{
   outline: 0;
}
#Label12
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label12:focus
{
   outline: 0;
}
#Label13
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Cairo;
   font-weight: bold;
   font-style: normal;
   font-size: 35px;
   text-align: center;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label13:focus
{
   outline: 0;
}
#Label14
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   text-align: center;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label14:focus
{
   outline: 0;
}
#Label15
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Cairo;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   text-align: center;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label15:focus
{
   outline: 0;
}
#Label10
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Cairo;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   text-align: center;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label10:focus
{
   outline: 0;
}
#Label16
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label16:focus
{
   outline: 0;
}
#Label17
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label17:focus
{
   outline: 0;
}
#Label18
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label18:focus
{
   outline: 0;
}
#Label19
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label19:focus
{
   outline: 0;
}
#Label20
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   text-align: right;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label20:focus
{
   outline: 0;
}
